  <div>
    <h3><%= @article.title %></h3>
  </div>
  <br>
  <div>
  	<p><%= @article.content %></p>
  </div>
  <%= button_to "Delete", "/users/#{params[:user_id]}/articles/#{params[:id]}", method: :delete %>

