.jumbotron {
	background-image: url(/assets/vinyl.jpg);
  	background-repeat: no-repeat;
  	height: 400px;
	background-size: cover;
	background-position: center center;
}

body {
	font-family: monospace;
}