// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
	height: 400px;
	width: 400px;
}

.index {
	height: 250px;
	width: 250px;
}