/*
 * app/assets/stylesheets/application.css
 */

/*
 * ...
 *
 *= require bootstrap-3.3.6.min
 *= require_tree .
 *= require_self
 */

.jumbotron {
	background-image: url(/assets/vinyl.jpg);
  background-repeat: no-repeat;
  height: 350px;
	background-size: cover;
	background-position: center center;
}

nav {
	margin-top: -35px;
	font-family: monospace;
	font-size: 20px;
	height: 60px;
	padding-top: 5px;
	padding-left: 50px; 
}

body {
	font-family: monospace;
	font-size: 20px;
}

ul {
	list-style-type: none;
}